.slds-modal__container
        {
            
            max-width: 70rem!important;
            width: 98%!important;
            height : 90vh !important;
        }

        .slds-modal__content{
                height : 80vh !important;
                max-height: 60vh !important;
                }
                .slds-table{
                    margin: 0;
                    border: 1px solid grey;
                    white-space: nowrap;
                    border-top-width: 1px;
                
                  }
        .textfont{
                  font-weight: bold;
                }